*{
  text-decoration: none;
}
a{
  color: white;
}
.mainHeader {
  display: flex;
  width: 100%;
  height: 140px ; 
  background: linear-gradient(to right, #15BFBF, #00A1A1);
  font-size: 16px;
  color: white;
  text-decoration: none !important;
  list-style: none;
  box-shadow: 1px 4px 4.5px rgba(0, 0, 0, 0.35);
  text-decoration: none;
  
  
}
/* Nothing.ttf */
@font-face{
  font-family: 'nothing-font';
  src: url('../fonts/nothing-font.otf');
  src: url('../fonts/nothing-font.otf?iefix') format('eot'),
  url('../fonts/nothing-font.otf') format('truetype');

}

.header{
  display: flex;
  width: 100vw;
  justify-content: center;
  /* position: absolute; */
  right: 7%;
}
.address{
  display: flex;
  width: 60px;
  position: relative;
  right: 18px;
  height: 40px;
  margin-left: 50px;
  place-items: center !important;
  opacity: 0.6;
  transition-property: all;
  transition: all ease 1s;
}

.address:hover{
  opacity: 1;
}


.seller{
  display: flex;
  width: 170px;
  position: relative;
  left: 120px;
  height: 40px;
  place-items: center !important;
  opacity: 0.6;
  transition-property: all;
  transition: all ease 1s;
}

.seller:hover{
  opacity: 1;
}


.logo{
  font-family: 'nothing-font';
  display: grid;
  width: 60px;
  position: relative;
  right: 247px;
  height: 40px;
  margin-top: 50px;
  font-size: 50px;
  /* margin-left: 50px; */
}



.search_main{
  /* min-width: 150px; */
  display: flex;
  width: 100%;
  min-width: 200px;
  max-width: 580px;
  border-radius: 15px;
  height: 50px;
  background-color: white;
  opacity: 0.85;
  margin-top: 55px;
  position: relative;
  right: 110px;
  align-items: center;


}

.search{
  width: 85%;
  height: 95%;
  margin-left: 15px;
  border-radius: 15px;
  background-color: transparent;
  border: none;
  border: 0px;
}

.search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-color: grey;
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
}
.search:focus{
  background-color: transparent;
  outline: none !important;
}

.search_icon_main{
  display: inline;
  width: 35px;
  height: 35px;
  border-radius: 15px;
  background-color: #15BFBF;
  position: relative;
  /* left: 38%; */
  left: 2%
  
}

.search_icon{
  position: absolute;
  top: 26%; 
  left: 26%;
  width: 18px;
  height: 18px;
}




.DLPC{
  display: flex;
  justify-content: center;
  position: relative;
  right: 100px;
}

.favourites, .profile, .cart{
  display: inline-block;
  width: 70px;
  height: 30px;
  translate: scaleY(0.5);
  margin-top: 57px;
  margin-left: 30px;
  place-items: center !important;
  align-items: center;
  text-align: center;
  transition-property: all;
  transition: all ease 1s;
  opacity: 0.6;
}


.favourites{
  width: 85px;
}

.delivery:hover{
  opacity: 1;
}
.favourites:hover{
  opacity: 1;
}
.profile:hover{
  opacity: 1;
}
.cart:hover{
  opacity: 1;
}




@media (max-width: 1360px){
  .DLPC{
    position: relative;
    right: 50px;
  }
}

@media (max-width: 1300px){
  .logo{
    margin-left: 30px;
  }
}

@media (max-width: 1250px){
  .logo{
    margin-left: 95px;
  }
}
@media (max-width: 1200px){
  .logo{
    margin-left: 35px;
  }
}

@media (max-width: 1150px){
  .logo{
    margin-left: 35px;
  }
}

@media (max-width: 1100px){
  .logo{
    margin-left: 60px;
  }
}


