.fullmain {
    width: 1240px;
    
    height: 120vh;
    /* width: 100%; */
    margin: auto;
    list-style: none;
    justify-content: center;
}

.cardmain{
    display: flex;
    justify-content: center;
}

.fullcartochkaimg{
    width: 350px;
    height: 420px;
    position: relative;
    /* right: 250px; */
    top: 75px;
    object-fit: contain; /* или 'cover', 'fill', 'none', 'scale-down' */
    
}

.namecart{
    display: inline-block;
    /* width: 370px; */
    position: relative;
    margin-left: 15px;
    /* right: 220px; */
    /* bottom: 150px; */
    /* height: auto; */
    /* place-items: center !important; */
    
}

.fullcartochka {
    display: flex;
    flex-wrap: wrap;
    /* align-items: start; */
    height: 250px;
    width: 100%;
    position: relative;
    margin: 20px;
    padding-top: 100px;
    /* top: 100px; */
    /* right: 350px; */
    
}

.starimg{
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    /* margin: 0; */
    position: relative;
    /* right: 8px; */
    /* margin-top: 10px; */
}

.fullrating{
    display: flex;
    font-size: 13px;
    margin: 0;
    position: relative;
    bottom: 4px;
    margin-top: 10px;
    width: 100%;
    height: 30px;
}

.fullreviews{
    display: inline-block;
    font-size: 11px;
    margin: 0;
    position: relative;
    /* top: 35px; */
    /* right: 33px; */
    width: 100%;
    height: 30px;
    opacity: 0.7;
}

.namestore{
    display: inline-block;
    font-size: 13px;
    margin: 0;
    position: relative;
    /* top: 55px; */
    /* right: 177px; */
    width: 350px;
    height: 30px;
    opacity: 0.9;
}

.descriptionstore{
    display: inline-block;
    text-align: start;
    font-size: 13px;
    margin: 0;
    position: relative;
    top: 55px;
    /* right: 177px; */
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.fullcartochkamain{
    display: flex;
    width: 100%;
    margin: 0;
}

.fullcartochka23{
    display: flex;
    width: 200px;
    height: 150px;
    position: relative;
    margin: 0;
    top: 490px;
    right: 640px;
}

.fullcartochka2, .fullcartochka3{
    display: flex;
    width: 200px;
    position: absolute;
    margin: 0;
}

.fullcartochka2{
    bottom: 90px;
    /* left: 615px;  */
}

.fullcartochka3{
    width: calc(200px + 100px);
    bottom: 50px;
    /* left: 615px;  */
}

.cartochkasendmain{
    display: flex;
    width: 300px;
    height: 150px;
    position: relative;
    margin: 0 auto;
    left: 440px;
    padding-top: 100px;
    bottom: 400px;
}


.cartochkasend{
    width: 290px;
    height: 140px;
    background-color: white;
    position: absolute;
    /* left: 1050px; */
    /* left: 600px; */
    /* top: 215px; */
    border-radius: 20px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}




.love1{
    display: flex;
    position: relative;
    left: 250px;
    top: -8px;
    margin: 0;
    width: 25px;
    height: 25px;
    z-index: 2;
    transition-property: all;
    transition: all ease 0.7s;
}

.love1:hover{
    opacity: 0;
}

.love2{
    display: flex;
    position: relative;
    left: 250px;
    top: -33px;
    margin: 0;
    width: 25px;
    height: 25px;
    z-index: 1;
}

.costcartochka{
    width: 200px;
    position: relative;
    font-size: 24px;
    left: 15px;
    top: 20px;
    margin: 0;
    
}


.sendcartmain{
    display: flex;
    background-color: #00A1A1;
    color: white;
    width: 255px;
    height: 30px;
    margin: 0;
    margin: auto;
    margin-top: 12px;
    border-radius: 8px;
    justify-content: center;
    place-items: center !important;
}

.imgcartsend{
    width: 20px;
    height: 20px;
    margin: 0;
    margin-left: 10px;
    position: relative;
    
}

.textsend{
    font-size: 16px;
    margin: 0;
    margin-bottom: 4px;
}



.reviewmain{
    display: flex;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    margin-top: 75px;
    justify-content: center;
    
}

.reviews{
    display: flex;
    position: relative;
    color: black;
    opacity: 1;
}

.reviews1{
    display: flex;
    position: absolute;
    bottom:540px;
    left: 100px;
    font-size: 24px;
    /* margin-bottom: 15px; */
}

.fullrev{
    display: flex;
    width: 300px;
    position: absolute;
    bottom: 510px;
    left: 70px;
    font-size: 13px;
    color: black;
    opacity: 1;
}

.fullrev:hover{
    transition: 0.3s;
    opacity: 1;
}

.type_rev{
    display: flex;
    position: relative;
}

.text_type_rev{
    display: flex;
    position: absolute;
    width: 400px;
    bottom:520px;
    left: 865px;
    font-size: 14px;
    color: black;
    cursor: pointer;

}

.text_type_rev:hover{
    transition: 0.3s;
    color: #00a1a1;
}



.reviewsend, .reviewsend2, .reviewsend3{
    width: 300px;
    height: 150px;
    background-color: white;
    /* position: absolute; */
    position: relative;
    right: 5%;
    /* left: 20px; */
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    /* bottom: -250px; */
    border-radius: 20px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    
}



.userreview{
    display: flex;
    width: 25px;
    height: 25px;
    margin: 0;
    margin-left: 13px;
    margin-top: 15px;
    position: relative;
}

.RatingStarMain{
    display: flex;
    position: relative;
}

.reviewrating{
    display: flex;
    margin-right: 15px;
    position: relative;
    float: right;
    bottom: 27px;
    left: 185px;
    margin: 0;
    width: 20px;
    height: 20px;
}

.rating__star {
    display: block;
    overflow: visible;
    pointer-events: none;
    width: 1.25em !important;
    height: 1.25em !important;
}

.username{
    font-size: 11px;
    opacity: 0.9;
    position: relative;
    bottom: 48px;
    margin-left: 47px;
}

.datapost{
    font-size: 11px;
    opacity: 0.9;
    position: relative;
    bottom: 49px;
    margin-left: 47px;
}

.textrev{
    width: 270px;
    height: 100px;
    font-size: 12px;
    margin-left: 15px;
    position: relative;
    bottom: 40px;
    hyphens: manual;

    overflow: hidden; 
}


.addReview{
    display: flex;
    width: 100%;
    
   
    margin: 0 ;
    position: relative;
    bottom: 300px;
    
    justify-content: center;
}

