.CartMain {
    display: flex;
    width: 100%;
    height: 100vh;
    list-style: none;
}

.BuyAddress {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100%;
    list-style: none;
    position: relative;
    


}

.buy, .addressDelivery {
    display: flex;
    justify-content: center;
    width: 220px;
    height: 120px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, .3); 
    position: relative;
    left: 90px;
    top: 70px;
    
}

.addressDelivery{
    top: 240px;
    left: -130px;
    
}

.tovars{
    width: 250px;
    height: 20px;
    position: absolute;
    margin-left: 90px;
    margin-top: 15px;
    opacity: .8;
    font-size: 9;
}

.amount{
    width: 250px;
    height: 20px;
    position: absolute;
    margin-left: 90px;
    top: 40px;
    font-size: 16;
}

.UserChange{
    width: 170px;
    height: 30px;
    background-color: #00A1A1;
    color: white;
    display: flex;
    vertical-align: middle;
    line-height: 31px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 70px;
    left: 20px;
    text-align: center;
}





































.details-modal {
    background: #ffffff;
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgba(black, 0.2);
    left: 50%;
    max-width: 100%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    text-align: left;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
  
    // -------------- CLOSE
  
    .details-modal-close {
      align-items: center;
      color: #111827;
      display: flex;
      height: 4.5em;
      justify-content: center;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 4.5em;
  
    }
  
    // -------------- TITLE
  
    .details-modal-title {
      color: #111827;
      padding: 1.5em 2em;
      pointer-events: all;
      position: relative;
      width: calc(100% - 4.5em);
  
      h1 {
        font-size: 1.25rem;
        font-weight: 600;
         line-height: normal;
      }
    }
  
    // -------------- CONTENT
  
    .details-modal-content {
      border-top: 1px solid #e0e0e0;
      padding: 0px 24px 12px 24px;  
      pointer-events: all;
      overflow: auto;
    }
  }
  
  // -------------- OVERLAY
  
  .details-modal-overlay {
    transition: opacity 0.2s ease-out;
    pointer-events: none;
    background: rgba(#0f172a, 0.8);
    position: fixed;
    opacity: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  
    details[open] & {
      pointer-events: all;
      opacity: 0.5;
    }
  }
  
  // -------------- DETAILS
  
  details {
    summary {
      list-style: none;
        
      &:focus {
        outline: none;
      }
      &::-webkit-details-marker {
        display: none;
      }
    }
  }
  
  // -------------- OTHER
  
  code {
    font-family: Monaco, monospace;
    line-height: 100%;
    background-color: #2d2d2c;
    padding: 0.1em 0.4em;
    letter-spacing: -0.05em;
    word-break: normal;
    border-radius: 7px;
    color: white;
    font-weight: normal;
    font-size: 1.75rem;
    position: relative;
    top: -2px;
  }
  
  .container {
    text-align: center;
    max-width: 40em;
    padding: 2em;
  
    > h1 {
      font-weight: 700;
      font-size: 2rem;
      line-height: normal;
      color: #111827;
    }
  
    > p {
      
      margin-bottom: 300px !important;
      bottom: 200px;
    }
  
    sup {
      font-size: 1rem;
      margin-left: 0.25rem;
      opacity: 0.5;
      position: relative;
    }
  }

  


