.profile_main{
    display: flex;
    width: 100%;
    height: 100vh;
    list-style: none;
}

.data_main{
    display: flex;
    width: 400px;
    height: 100%;
    background-color: white;
    left: 0;
    box-shadow: 0 4px 7px 3px rgba(0, 0, 0, .35);
    justify-content: center;
}

.user_profile{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 30px;
}

.user_info{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    list-style: none;
    position: relative;
}

.user_name{
    display: flex;
    width: 100%;
    position: absolute;
    left: 35%;
    top: 40px;
}

.user_email{
    display: flex;
    width: 100%;
    position: absolute;
    left: 35%;
    top: 75px;
}

.user_adress{
    display: flex;
    width: 100%;
    position: absolute;
    left: 35%;
    top: 110px;
}

.user_change_main{
    display: flex;
    width: 250px;
    height: 35px;
    position: absolute;
    top: 310px;
    margin: 0;
    justify-content: center;
    text-align: center;
    place-content: center;
    place-items: center;
}

.user_change{
    width: 170px;
    background-color: #00A1A1;
    color: white;
    display: flex;
    vertical-align: middle;
    line-height: 31px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.user_change2{
    width: 170px;
    background-color: #00A1A1;
    color: white;
    display: flex;
    vertical-align: middle;
    line-height: 31px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    top: 30px;
    margin-top: 20px;
}





.zareg{
    display: flex;
    width: 100%;
    position: absolute;
    opacity: 1;
    transition-property: all;
    transition: all ease 1s;
}

.voiti{
    display: flex;
    width: 100%;
    position: absolute;
    left: 270px;
    transition-property: all;
    transition: all ease 1s;
}

.zareg:hover{
    transition: .3s;
    color: #00A1A1;
}

.voiti:hover{
    transition: .3s;
    color: #00A1A1;
}